<div class="container">

 <div class="page-header">
   <h1>
     <%= @project.name %>: Manage Members
   </h1>
 </div>

 <ol class="breadcrumb">
   <li><%= link_to 'Projects', projects_path(@projects) %></li>
   <li><%= link_to @project.name, project_path(@project) %></li>
   <li class="active">Memberships</li>
 </ol>

 <div class= "row">
   <div class= "col-md-8">
     <%= render partial: "shared/errors", locals: {object: @membership} %>
   </div>
 </div>

 <% if current_user.project_owner_verify(@project) %>
 <div class="row">
   <%= form_for [@project, @membership], html: {class: "form-inline" } do |f| %>
     <div class='col-md-8'>
       <div class='well'>
         <%= f.collection_select(:user_id, User.all, :id, :full_name, {prompt: "please select a user..."},{class: 'form-control'}) %>
         <%= f.collection_select(:role, Membership::ROLE, :to_s, :to_s, {},{class: 'form-control'}) %>
         <%= f.submit "Add New Member", class: 'btn btn-primary' %>
       </div>
     </div>
    <% end %>
   </div>
  <% end %>
   <br />
   <div class= "row col-sm-10">
     <table class= "table">
       <% @project.memberships.each do |membership| %>
         <%if membership.id && membership.user.present? %>
           <%= form_for [@project, membership], html: {class: "form-inline"} do |f| %>
             <tbody>
               <tr>
                <% if current_user.project_owner_verify(@project) %>
                    <td><%= link_to membership.user.full_name, user_path(membership.user) %></td>
                    <td><%= f.collection_select(:role, Membership::ROLE, :to_s, :to_s, {prompt: membership.role}, {class:'form-control'}) %></td>
                    <td><%= f.submit "Update", class: "btn btn-primary" %></td>
                <% else %>
                    <td><%= link_to membership.user.full_name, user_path(membership.user) %></td>
                    <td><%= membership.role %></td>
                <% end %>
                <% if @project.memberships.where(role: "Owner").count == 1 && membership.role == "Owner" %>
                    <td>You are the last owner</td>
                <% else %>
                    <td><%= link_to "",project_membership_path(@project, membership), method: :delete, class: "glyphicon glyphicon-remove"%><td>
                <% end %>
               </tr>
             </tbody>
           <% end %>
         <% end %>
       <% end %>
     </table>
   </div>
 </div>
