<div class="form-horizontal">

 <%= form_for @task do |f| %>


   <div class="form-group">
     <%= f.label :description, class: "col-md-2 control-label" %>
     <div class="col-md-5">
       <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
     </div>
   </div>

   <div class="form-group">
     <%= f.label :due_date, class: "col-md-2 control-label" %>
     <div class="col-md-2">
       <%= f.date_field :due_date, class: "col-md-2 form-control", placeholder: "Due Date" %>
     </div>
   </div>

   <% unless @task.new_record? %>
     <div class="form-group">
       <div class="col-md-offset-2 col-sm-6">
         <%= f.check_box :complete %>
         <%= f.label :complete %>
       </div>
     </div>
   <% end %>


   <div class="form-group">
     <div class="col-md-offset-2 col-sm-6">
       <%= f.submit class: "btn btn-primary"%>
       <%= link_to "Cancel", tasks_path, class: "btn btn-default" %>
     </div>
   </div>
 <% end %>
</div>
