<div class= "container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Task", new_project_task_path, class: "btn btn-info" %>
    </div>
      <h1>Tasks for <%= @project.name %></h1>
    </div>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to @project.name, project_path(@project) %></li>
      <li class="active">Tasks</li>
    </ol>

      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Due On</th>
          </tr>
        </thead>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <% if task.complete == true %>
                <s><%= link_to task.description, project_task_path(params[:project_id], task) %></s>
              <% else %>
                <%= link_to task.description, project_task_path(params[:project_id], task) %>
              <% end %>
            </td>
            <td>
              <div class= "text-left">
                <% if task.due_date %>
                  <%= task.due_date.strftime("%m/%d/%Y") %>
                <% end %>
              </div>
            </td>
            <td>
              <div class= "text-right">
                <%= link_to "Edit", edit_project_task_path(params[:project_id], task), class: "btn btn-info" %>
                <%= link_to "Delete", project_task_path(params[:project_id], task), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" }  %>
              </div>
            </td>
            <% end %>
          </tr>
      </table>
    </div>
