<div class= "container">
    <div class="page-header">
      <h1>New Task</h1>
    </div>

  <div>
     <ol class="breadcrumb">
         <li><%=link_to "Tasks", tasks_path%></li>
         <li class="active">New Task</li>
     </ol>
  </div>

  <br>
    <%=form_for @task, html:{class:"form-horizontal"} do |f|%>
   <div class="form-group">
     <%=f.label :description, class:"col-md-2 control-label"%>
     <%=f.text_field :description, class:"col-md-4"%>
  </div>

  <div class="form-group">
     <%= f.submit "Create Task", class: "btn btn-primary col-md-offset-2" %>
     <%= link_to "Cancel", tasks_path, class:"btn btn-default"%>
  </div>
<% end %>
