<div class= "container">
  <div class="page-header">
    <h1>
      <% if @task.complete == true %>
        <s><%= @task.description %></s>
      <% else %>
        <%= @task.description %>
      <% end %>
      <div class="pull-right">
        <%= link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info" %>
      </div>
    </h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to "Tasks", project_tasks_path(@project, @task) %>
    <li class="active"><%= @task.description %></li>
  </ol>

  <p>
    <strong>
      Due On:
    </strong>
    <% if @task.due_date %>
      <%= @task.due_date.strftime("%m/%d/%Y") %>
    <% end %>
  </p>


  <p>
    <h3>Comments</h3>
  </p>
    <% @task.comments.each do |comment| %>
      <p>
        <div class= "row">
          <div class= "col-md-3">
            <%if comment.user == nil %>
            <%= "(deleted user)" %>
            <%else%>
            <%= link_to comment.user.full_name, user_path(comment.user) %>
            <%end%>
            <div class= "text-muted">
              <%= "#{time_ago_in_words(comment.created_at)} ago" %>
            </div>
          </div>
          <div class= "col-md-9">
            <%= comment.content %>
          </div>
        </div>
      </p>
    <% end %>

    <%= form_for [@task, @comment], html: {class: "form-group"} do |f| %>
    <p>
    <div class= "row">
      <div class= "col-md-offset-3">
        <div class= "col-md-9">
        <%= f.text_area :content, class: "form-control" %>
        </div>
      </div>
    </div>
    </p>

    <p>
    <div class= "row">
      <div class= "col-md-offset-3 col-md-9">
        <%= f.submit "Add Comment", class: "btn btn-primary" %>
      </div>
    </div>
    </p>
  <%end%>
</div>
