<%= form_tag sign_in_path do %>

<div class="col-sm-12">
  <div class="well col-md-5 col-sm-offset-3">
    <div class="form-group">
      <h1 class = "page-header">Sign into gCamp</h1>

      <% if @sign_in_error %>
          <p class= "text-danger"><%= @sign_in_error %></p>
          <% end %>

        <div class="form-horizontal">
           <div class="form-group"></div>
             <%= label_tag :email, "Email", class: "pull-left control-label" %>
             <div class="col-md-3"></div>
               <%= email_field_tag :email, "", class: "col-sm-12 form-control" %>

           <div class="form-group"></div>
             <%= label_tag :password, "Password", class: "pull-left control-label" %>
             <div class="col-md-3"></div>
               <%= password_field_tag :password, "", class: "col-sm-12 form-control" %>

         <div class="form-group">
           <div class="col-sm-6 pull-left"><br>
             <%= submit_tag "Sign In", class: "btn btn-default"%>
           </div>
         </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
