<div class="col-sm-12">
  <div class="well col-sm-6 col-sm-offset-3">
    <div class="form-group">
      <h1 class = "page-header">Sign into gCamp</h1>
      <% if flash[:failure] %>
        <strong><p class="text-danger"><%= flash[:failure] %></p></strong>
      <% end %>
        <div class="form-horizontal">
          <%= form_for user do |f| %>
           <div class="form-group">
             <%= f.label :email, class: "col-sm-6 control-label" %>
             <div class="col-md-3">
               <%= f.email_field :email, class: "col-sm-12 form-control" %>
             </div>
           </div>
           <div class="form-group">
             <%= f.label :password, class: "col-sm-6 control-label" %>
             <div class="col-md-3">
               <%= f.password_field :password, class: "col-sm-12 form-control" %>
             </div>
           </div>
         <div class="form-group">
           <div class="col-sm-6 pull-left">
             <%= f.submit class: "btn btn-default"%>
           </div>
         </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
