<div class="container">
  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>

  <div>
    <ul>
      <% @faqs.each do |faq| %>
        <li><a href="#<%= faq.slug %>"><%= faq.question %></a></li>
      <% end %>
    </ul>
  </div>

  <% @faqs.each do |faq| %>
    <h3 id="<%= faq.slug %>"><%= faq.question %></h3>
    <%= faq.answer %>
    <br></br>
    <a href="">Top</a>
  <% end %>
  <br>
</div>
