<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <p class="navbar-brand">gCamp</p>
      </div>
    </nav>
  </div>
<%= yield %>

</body>
<div class="container">
<div class="page-header">
</div>

<%= link_to 'About', about_path %> |  <%= link_to 'Terms', nil %>
</div>
<div>
  <p>
  </p>
</div>
</html>
