<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <p class="navbar-brand">gCamp</p>
      </div>
    </nav>
  </div>
<%= yield %>



<footer class="container">
  <div class="page-header">
  </div>
    <div class='row'
      <div class='col-md-6 text-left'>
        <%= link_to 'About', about_path %> |
        <%= link_to 'Terms', terms_path %>
        <%= link_to image_tag('li.jpg'), 'http://www.linkedin.com' %>
        <%= link_to image_tag('gh.jpg'), 'http://www.github.com' %>
        <%= link_to image_tag('tw.jpg'), 'http://www.twitter.com' %>
        <%= link_to image_tag('gschool.jpg'), 'http://www.galvanize.it' %>

    </div>
  </div>
</div>
</footer>
</body>
</html>
