<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <%= link_to "gCamp", root_path, class:"navbar-brand" %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %></li>
              <li><%= link_to "Sign out", sign_out_path %></li>
            <% else %>
              <li><%= link_to "Sign In", sign_in_path %></li>
              <li><%= link_to "Sign Up", sign_up_path %></li>
            <% end %>
          </ul>
      </div>
    </nav>
  </div>


  <div class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-#{name}" %>
    <% end %>
  </div>

  <%= yield %>


  <footer class="container">
    <hr />
      <div class='row'>
        <div class='col-md-6 text-left'>
          <%= link_to 'About', about_path %> |
          <%= link_to 'Terms', terms_path %> |
          <%= link_to 'FAQs', faq_path %>
        <% if current_user %>
        | <%= link_to 'Users', users_path %> |
          <%= link_to 'Projects', projects_path %>
        <% end %>
        </div>

        <div class = "pull-right">
          <%= link_to image_tag('gschool.png', class: 'social'), 'https://students.gschool.it/cohorts/8/students/267' %>
          <%= link_to image_tag('tw.png', class: 'social'), 'http://www.twitter.com/GitTristan' %>
          <%= link_to image_tag('gh.png', class: 'social'), 'http://www.github.com/GitTristan' %>
          <%= link_to image_tag('li.jpg', class: 'social'), 'https://www.linkedin.com/in/tristanrubadeau' %>
        </div>
        <br />
      </div>
    </div>
  </footer>
</body>
</html>
